<ion-header>
  <ion-navbar>
    <ion-title>ELECTRONIC PRODUCTS</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
MOBILES AND MOBILE ACCESSORIES
<ion-card *ngFor="let mob of mobs">
 	<ion-card-content>
  <button ion-button color="danger" round (click)="cartpro.AddToCart(mob)">Add to Cart </button>
   <img [src]="mob.productimage">
   <!-- {{mob.productimage}} -->
   price:{{mob.price}}
 	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header>  
  		CAMERA
	</ion-card-header>
  	<ion-card-content>
    	
  	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header>  
  		TELEVISION 
	</ion-card-header>
  	<ion-card-content>
    	
  	</ion-card-content>
</ion-card>
</ion-content>
