
<ion-header>

  <ion-navbar>
    <ion-title>CART</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-item>
  <ion-icon name="cart" item-left></ion-icon>
  <ion-badge item-right>{{cartpro.cartnum}}</ion-badge>
</ion-item >
<ion-card *ngFor= "let itm of item">
<ion-card-content>
<img [src]="itm.productimage">
</ion-card-content>
</ion-card>
</ion-content>
