<!--
  Generated template for the Clothing page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>clothing</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-card>
  	<ion-card-header>
   		SAREEA
	</ion-card-header>
 	<ion-card-content>
    	
 	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header>  
  		KURTHIS
	</ion-card-header>
  	<ion-card-content>
    	
  	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header>  
  		ETHNIC WEARS 
	</ion-card-header>
  	<ion-card-content>
    	
  	</ion-card-content>
</ion-card>
</ion-content>
</ion-content>
