
<!-- <ion-header>
  <ion-navbar>
    <ion-title>HOME</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content padding>
  <ion-tabs>
    <ion-tab tabIcon="star" [root]="tab1"></ion-tab>
    <ion-tab tabIcon="briefcase" [root]="tab2"></ion-tab>
    <ion-tab tabIcon="book" [root]="tab3"></ion-tab>
    <ion-tab tabIcon="cart" [root]="tab4"></ion-tab>
  </ion-tabs>
</ion-content>