<ion-header>
  <ion-navbar>
    <ion-title>MOST VISITED</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-card>
  	<ion-card-header>
   		Electronic Products
	</ion-card-header>
 	<ion-card-content>
    	<img src="assets/images/Electronic-Products1.jpg"/>

 	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header>  
  		Clothing 
	</ion-card-header>
  	<ion-card-content>
    	<img src="assets/images/bridesmaid_dresses_for_straight_body_types.jpg"/>
  	</ion-card-content>
</ion-card>
</ion-content>
